@tailwind base;
@tailwind components;
@tailwind utilities;


.welcomeBody{
   height: 100vh;
    margin: 0;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.headerWelcome{
    background-color: rgba(0, 0, 0, 0.50);
    width: 100vw;
    position: fixed;
    display: flex;
    top: 0px;
    align-items: center;
    align-content: space-between;
}

.footerWelcome{
    width: 100vw;
    position: fixed;
    bottom: 0px;
}

.linksWelcome{
    color: white; 
}

.centerFont{
    font-size: 100px;
    color: white;
    padding: 20px;
    text-align: center;
}

.logoWelcome{
    width: 150px;
    margin-left: 20px;
}

.containerWelcome{
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px;
    border-radius: 5px;
}

.btn-reserva{
    background: transparent;
    border: solid white 1px;
    border-radius: 5px;
    padding: 10px 50px;
    
    font-size: 20px;
    color: white;
}